<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".R8StoredFieldsApplication"
        android:allowBackup="false"
        android:label="lucene-kmp R8 test"
        android:supportsRtl="true" />
</manifest>
